/* GENERAL */

body {
    font-size: 16px;
    line-height: 1.618;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.roam-header,
.roam-connect {
    box-sizing: border-box;
    max-width: 320px;
    padding: 32px 16px;
    margin: 0 auto;
}

.roam-header {
    text-align: center;
    margin-top: 32px;
}

.roam-title {
    font-size: 32px;
    margin-bottom: 0;
}

.roam-connect {
    margin-bottom: 32px;
}

.roam-submit {
    margin-top: 24px;
}

.roam-spinner {
    display: none;
    margin: 32px auto;
}

.roam-active {
    color: #388E3C;
}


/* CONFIG */

.getmdl-select input {
    cursor: pointer;
}

.getmdl-select .mdl-menu__container {
    overflow: visible;
}

.getmdl-select.is-focused .mdl-icon-toggle__label {
    color: #880E4F;
}
